<!-- crear-cuenta-corriente.component.html -->
<app-navbar></app-navbar>
<div class="container">
    <h2>Crear Cuenta Corriente</h2>
    <form [formGroup]="cuentaCorrienteForm" (ngSubmit)="crearCuentaCorriente()">
      <div class="form-group">
        <label for="clienteId">ID Cliente</label>
        <input type="number" class="form-control" id="clienteId" formControlName="clienteId">
      </div>
      <div class="form-group">
        <label for="tasaInteres">Tasa de Interés</label>
        <input type="number" class="form-control" id="tasaInteres" formControlName="tasaInteres" required>
      </div>
      <div class="form-group">
        <label for="tasaMoratoria">Tasa de Moratoria</label>
        <input type="number" class="form-control" id="tasaMoratoria" formControlName="tasaMoratoria" required>
      </div>
      <div class="form-group">
        <label for="saldoCredito">Saldo de Crédito</label>
        <input type="number" class="form-control" id="saldoCredito" formControlName="saldoCredito" required>
      </div>
      <div class="form-group">
        <label for="fechaPagoMensual">Fecha de Pago Mensual</label>
        <input type="date" class="form-control" id="fechaPagoMensual" formControlName="fechaPagoMensual" required>
      </div>
      <div class="form-group">
        <label for="tipoInteres">Tipo de Interés</label>
        <select class="form-control" id="tipoInteres" formControlName="tipoInteres" required>
          <option *ngFor="let tipo of tiposInteres" [value]="tipo">{{ tipo }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="periodoCapitalizacion">Periodo de Capitalización</label>
        <select class="form-control" id="periodoCapitalizacion" formControlName="periodoCapitalizacion" required>
          <option *ngFor="let periodo of periodosCapitalizacion" [value]="periodo.value">{{ periodo.label }}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Crear Cuenta Corriente</button>
    </form>
  </div>
  