<app-navbar></app-navbar>
<div class="container">
    <div class="card mt-5">
      <div class="card-header">
        <h2>Crear Producto</h2>
      </div>
      <div class="card-body">
        <form (ngSubmit)="crearProducto()">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" [(ngModel)]="producto.nombre" name="nombre" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="precio">Precio</label>
            <input type="number" id="precio" [(ngModel)]="producto.precio" name="precio" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" [(ngModel)]="producto.descripcion" name="descripcion" class="form-control" required></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Crear Producto</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  